
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Maps API</title>
    <style>
        #map{
            height:400px;
            width:100%;
        }
    </style>
</head>
<body>
    <h1>My Google Map</h1>
    <div id="map"></div>
    <script>
        function initMap() {
            //Map options
            var options ={
                zoom:8,
                center:{lat:10.864050, lng:106.640300}
            }

            //New map
            var map = new
                    google.maps.Map(document.getElementById('map'), options)

            // Listen for click on the maps

            map.addListener('click', function(e){
                // clearMarkers();
                // markers = [];
                var Marker = new google.maps.Marker({
                    position: e.latLng,
                    map: map
                });
            })

            /*
            //Add marker
            var marker = new google.maps.Marker({
                position: {lat:10.864050, lng:106.640300},
                map: map
            });
            */

            addMarker({lat:10.864050, lng:106.640300})
            addMarker({lat:10.864050, lng:106.650300})
            //Add Marker Function
            function addMarker(coords){
                var marker = new google.maps.Marker({
                    position: coords,
                    map: map
                });
            }




        }
    </script>


    /*
    <script>

        alert(getDistanceFromLatLonInKm(10.864050,106.640300,10.864050,106.650300));

        function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
            var R = 6371; // Radius of the earth in km
            var dLat = deg2rad(lat2-lat1);  // deg2rad below
            var dLon = deg2rad(lon2-lon1);
            var a =
                Math.sin(dLat/2) * Math.sin(dLat/2) +
                Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                Math.sin(dLon/2) * Math.sin(dLon/2)
            ;
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
            var d = R * c; // Distance in km
            return d;
        }

        function deg2rad(deg) {
            return deg * (Math.PI/180)
        }
    </script>
    */
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMLF6bKb5QWVEUyJLne9fy1bkvAr7dX30&callback=initMap">
    </script>
</body>
</html>